
    <section id="lateral-navbar">
        <div class="home-options-logo">
            <a href="/" style="text-decoration: none; text-align: center;">
                <img src="/img/NotionsLogo.png" alt="">
                <p>Administrador</p>
            </a>
        </div>
        <div>
            <a href="/admin" class="home-options">
                <img src="/img/estoque-pronto.png" alt="">
                <p>Estoque</p>
            </a>

            <a href="/admin/adicionar" class="home-options">
                <img src="/img/adicionar-prod.png" alt="">
                <p>Novo Produto</p>
            </a>
            <a href="/admin/sem-estoque" class="home-options">
                <img src="/img/embalagem.png" alt="">
                <p>Baixo Estoque</p>
            </a>
        </div>
        <a href="/logout" class="home-options">
            <img src="/img/sair.png" alt="">
            <p>Sair</p>
        </a>
    </section>
