
<section class="cadastro-page">
    <div class="texto">
    <h2>Crie seu cadastro do Notions Shop</h2>
    <p>Você pode acompanhar seus pedidos de forma facil e comprar mais rapido. Tudo feito pra você</p>
    </div>
<div class="form-cadastro-container">
    <form class="form-cadastro" action="/cadastro" method="post">
    <div class="input-group">
        <label for="name">Nome</label>
        <input type="text" id="name" name="name" placeholder="Digite seu nome" required>
    </div>
    <div class="input-group">
        <label for="cpf">CPF</label>
        <input type="text" id="cpf" name="cpf" placeholder="Digite seu cpf" required>
    </div>
    <div class="input-group">
        <label for="telefone">Telefone</label>
        <input type="text" id="telefone" name="telefone" placeholder="Digite seu telefone" required>
    </div>
    <div class="input-group">
        <label for="datanascimento">Data de Nascimento</label>
        <input type="date" id="datanascimento" name="datanascimento" placeholder="Digite seu datanascimento" required>
    </div>
    <div class="input-group">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="Digite seu email" required>
    </div>
    <div class="input-group">
        <label for="password">Senha</label>
        <input type="password" name="password" id="password" placeholder="Digite sua senha" required>
    </div>
    <div class="input-group">
        <label for="password-repeat">Repita a senha</label>
        <input type="password" name="password_repeat" id="password-repeat" placeholder="Repita sua senha" required>
    </div>
    <button type="submit" class="btn-center">Criar Conta</button>
</form>
</div>
</section>