<section class="cadastro-page">
    <div class="texto">
        <h2>Digite seu e-mail e senha de usuário Notions Shop</h2>
        <p>Você pode acompanhar seus pedidos de forma fácil e comprar mais rápido. Tudo feito pra você!</p>
    </div>
    <div class="form-cadastro-container">
        <form class="form-cadastro" action="/login" method="post">
            <div class="input-group">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" placeholder="Digite seu email" required>
            </div>
            <div class="input-group">
                <label for="password">Senha</label>
                <input type="password" name="password" id="password" placeholder="Digite sua senha" required>
            </div>
            <button type="submit" class="btn-center">Fazer Login</button>
        </form>
    </div>
</section>